[run]
branch = True
cover_pylib = True

[paths]
source =
    papermill
    #*/site-packages/papermill

[report]
include =
    papermill/*
    #*/site-packages/papermill/*
omit =
    test_requirements.txt
#    provider/oauth2/migrations/*
#    provider/testcases
#    provider/oauth2/tests
exclude_lines =
    raise NotImplementedError
    pass