{% extends "admin/base.html" %}
{% block content %}
<h1>Poster – Vis</h1>

<section class="panel panel-default">
    <header class="panel-heading">
        {{ post.header }}
    </header>
    <section class="panel-body">
        {{ post.body|safe }}
    </section>
</section>
<div class="form-actions">
    <a href="{% url 'admin:papermill:list' %}" class="btn btn-primary">
        <i class="fa fa-list fa-fw"></i> Tilbake til oversikten
    </a>
    <a href="{% url 'admin:papermill:update' post.pk %}" class="btn btn-default">
        <i class="fa fa-edit fa-fw"></i> Editer posten
    </a>
    <a href="{% url 'admin:papermill:delete' post.pk %}" class="btn btn-danger">
        <i class="fa fa-edit fa-fw"></i> Slett posten
    </a>
</div>
{% endblock content %}
