{% extends "admin/base.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block css_extra %}
    <!-- froala css includes -->
    <link href="{% static 'js/libs/froala/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'js/libs/froala/css/froala_editor.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'js/libs/froala/css/themes/gray.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/papermill.css' %}" rel="stylesheet" type="text/css" />
{% endblock css_extra %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'js/admin/papermill.js' %}" charset="utf-8"></script>

{{ form.media }}

<!-- froala js includes -->
<script src="{% static 'js/libs/froala/js/froala_editor.min.js' %}"></script>
<script src="{% static 'js/libs/froala/js/plugins/video.min.js' %}"></script>
{% comment %}
<script src="{% static 'js/libs/froala/js/plugins/media_manager.min.js' %}"></script>
{% endcomment %}
<script src="{% static 'js/imgin_manager.js' %}"></script>
<script src="{% static 'js/libs/froala/js/plugins/block_styles.min.js' %}"></script>
<script src="{% static 'js/libs/froala/js/langs/nb.js' %}"></script>
{% endblock extra_js %}

{% block content %}
<section class="panel">
    <header class="panel-heading">
        <h3 class="m-b-sm"><span class="fa fa-bolt m-r-sm"></span>{% if object %}Endre {% else %}Legg til {% endif %}post</h3>
    </header>
    <section class="panel-body">
{% crispy form %}

{% if form.errors %}
<div id="form-error">
    <p>Feil i skjema.<br />Vennligst send inn igjen etter følgende feil er rettet:</p>
    <ul>
    {% for field in form %}
    {% if field.errors %}<li>{{ field.label }} - {{ field.errors|striptags }}</li>{% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}
    </section>
</section>

{% endblock %}