{% extends "admin/base.html" %}
{% load staticfiles %}
{% block content %}
<section class="panel">
    <header class="panel-heading">
        <h3 class="m-b-md">Postoversikt</h3>
        <span class="m-r-sm"><span class="status-publisert"><i class="fa fa-circle m-r-sm"> </i> </span> Publisert</span>
        <span class="m-r-sm"><span class="status-venter"><i class="fa fa-circle m-r-sm"> </i> </span> Venter</span>
        <span class="m-r-sm"><span class="status-kladd"><i class="fa fa-circle m-r-sm"> </i> </span> Utkast</span>
        <span class="m-r-sm"><span class="status-slettet"><i class="fa fa-circle m-r-sm"> </i> </span> Slettet</span>
    </header>

    <section class="panel-body">
    {% if posts %}
        <table class="table table-striped">
            <colgroup>
                <col span="1" style="width: 50px; font-weight: bold;">
                {% if papermill_settings.multilanguage %}
                <col span="1" style="width: 30px;">
                {% endif %}
                <col span="1" style="width: 30px;">
                <col span="1" style="width: 30px;">
                <col span="1">
                <col span="3" style="width: 60px;">
                <col span="1" style="width: 40px;">
            </colgroup>
            <thead>
                <tr>
                    <th class="center-text">&#8470;</th>
                    {% if papermill_settings.multilanguage %}
                    <th></th>
                    {% endif %}
                    <th></th>
                    <th></th>
                    <th>Tittel</th>
                    <th class="center-text">Opprettet</th>
                    <th>Endret</th>
                    <th>Bruker</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% for post in posts %}
                    <tr>
                        <td class="text-mono"><small><span class="text-muted">#</span>{{ post.pk|stringformat:"03d" }}</small></td>
                        {% if papermill_settings.multilanguage %}
                        <td>
                            <img src="{% static 'admin/img/blank.gif' %}" class="flag flag-{{ post.language }}" alt="{{ post.language }}" />
                        </td>
                        {% endif %}
                        <td class="status-{{ post.status_class|lower }}">
                            <i class="fa fa-circle"></i>
                        </td>
                        <td class="center-text">
                            {% if post.featured %}
                                <i class="fa fa-star text-warning"></i>
                            {% endif %}
                        </td>
                        <td>
                            {{ post.header }}
                        </td>
                        <td class="center-text text-muted"><small>{{ post.created|date:"d/m/y" }}</small></td>
                        <td class="center-text text-muted"><small>{{ post.updated|date:"d/m/y" }}</small></td>
                        <td class="text-muted"><small>{{ post.user }}</small></td>
                        <td>
                            <a class="dropdown-toggle ddbutton" data-toggle="dropdown">
                                  <i class="fa fa-bars"></i>
                            </a>
                            <ul class="dropdown-menu" style="right: 0; left: auto;">
                                <li>
                                    <a href="{% url 'admin:papermill:view' post.pk %}">
                                        <i class="fa fa-search m-r-sm"> </i>
                                        Vis post
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'admin:papermill:update' post.pk %}">
                                        <i class="fa fa-edit m-r-sm"> </i>
                                        Endre post
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'admin:papermill:delete' post.pk %}">
                                        <i class="fa fa-trash-o m-r-sm"> </i>
                                        Slett post
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            <i class="fa fa-info-circle m-r-sm"></i> Ingen poster enda.
        </p>
    {% endif %}
    </section>
</section>

<div class="form-actions">
    <a href="{% url 'admin:papermill:create' %}" class="btn btn-primary">
        <i class="fa fa-plus fa-fw"></i> Nytt innlegg
    </a>
</div>
{% endblock content %}
