{% load i18n %}
{% load url from future %}
<div class="overview">
    <h2 class="section">{% trans 'News archive' %}</h2>
    <div class="overview-inner">
    {% for post in posts %}
        {% if forloop.first %}
        <div class="latest-news">
            <dl>
                <dt>
                    <i class="fa fa-angle-double-right"> </i>
                    <a href="{{ post.get_absolute_url }}">{{ post.header }}</a>
                </dt>
                <dd>
                    {{ post.created|date:"d/m/Y" }}
                </dd>
            </dl>
            {% if show_lead %}
            <div class="row">
                <p>
                    {{ post.lead }}
                </p>
            </div>
            {% endif %}
        </div>
        {% else %}
        <div class="latest-news">
            <dl>
                <dt>
                    <i class="fa fa-angle-double-right"> </i>
                    <a href="{{ post.get_absolute_url }}">{{ post.header }}</a>
                </dt>
                <dd>
                    {{ post.created|date:"d/m/Y" }}
                </dd>
            </dl>
            {% if show_lead %}
            <div class="row">
                <p>
                    {{ post.lead }}
                </p>
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>